/* Based on https://stackoverflow.com/a/47047650 */

#main .nav-pills > li.active > a,
#main .nav-pills > li.active > a:hover,
#main .nav-pills > li.active > a:focus {
   background-color: #22983B;
}

#main .nav-pills > li > a:hover {
  background-color: #22983B;
}

h1,h2,h3,h4,h5,h6,legend{
    color: #272525;
}

#nav-top .glyphicon {
  color: #22983B;
}

#sidebar {
    background: #343131;
}

#sidebar h2 {
    color: transparent;
    font-size: 0;
    background: #343131;
}

#postamble {
    background: #272525;
    border: #272525;
}

#postamble .date{
    color: #ffffff;
}

#main a {
    background-image: linear-gradient(180deg,#d64a70,#d64a70);
    color:#c7254e;
}

#header .title {
    color: transparent;
    font-size: 0;
}

a:hover{
    color:#3d1308
}

a:visited{
    color:#3d1308
}

.r {
    background-color: #E4E5ED;
}

.python {
    background-color: #E4EDE4;
}
